{% extends "shared.html.j2" %}
{% block title %}Home{% endblock %}

{% block body %}

<br>

<h1>Home</h1>
<p></p>

<script type="text/javascript">
  $(document).ready(function(){
    $('#nav_home').addClass('active')
  })
</script>

{% endblock %}
