{% extends "shared.html.j2" %}
{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
  <h1>Home</h1>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#nav_home').addClass('active')
  })
</script>

{% endblock %}
