{% extends "shared.html.j2" %}
{% block title %}Real View{% endblock %}

{% block body %}

<h1>Real View</h1>

<script type="text/javascript">
  $(document).ready(function(){
    $('#nav_realview').addClass('active')
  })
</script>

{% endblock %}
